<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %>
<body>
    <%- include("../partials/header.ejs") %>
    <article class="contenedor-articulo">
        <div>
            <h3><%= products.name %> </h3>
        </div>              
        <img src="/img/<%= products.image %>" width="80%">
        <div class="articulo-x">
            
            <div>
                <p class="precio">$<%= products.price %> </p>
                <p class="descuento">40% Off</p>
            </div>                  
        </div>                 
    </article>
</body>
    <%- include("../partials/footer.ejs") %>
</html>